<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ureportdemo.mapper.AreaMapper">

    <select id="selectAreaAllNameGroup" resultType="java.lang.String">
        SELECT area_name
        FROM tb_area
        GROUP BY area_name
    </select>
    <select id="selectAllByName" resultType="java.util.Map">
        SELECT *
        FROM tb_area
    </select>
</mapper>